.app-header {
  padding: 50px 0px;
  /* padding: 0px 0px 50px 50px; */
}

.app-header .title {
  width: fit-content;
  margin: auto;
  font-size: 4.5em;
  font-weight: 600;
  color: white;
  line-height: 1em;
  padding: 30px;
}


.app-header .logo {
  position: absolute;
  width: 33%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
